.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
android/.gradle/
android/local.properties
*.iml
.idea/
.vscode/
.DS_Store
pubspec.lock
web/
ios/
linux/
macos/
windows/
android/
.metadata
